__pycache__
ckpts
.ipynb_checkpoints/

*.csv
MathSpeech_whisper_transcribed/
**/qwen2.5_*
Data/latex_in_context_tts/Untitled.ipynb
equations
equations_test_new
equations_dev_new
equations_joined_new
backup_s2l_dataset.py
s2l_dataset_backup/

MathSpeech/ASR/MathSpeech

.cursor/rules/environment.mdc
MathSpeech/Experiments/MathSpeech_checkpoint.pth

wandb

init_checkpoints/
MathBridge_train_cleaned.dataset
Data/mathbridge/ed.ipynb

Data/mathbridge/MathBridge_train_cleaned_normalized_train.csv
Data/mathbridge/MathBridge_train_cleaned.csv
s2l_equations_normalized/
s2l_sentences_normalized/
Data/trainable_split/s2l_original-28-07-2025/
Data/mathbridge/MathBridge_train_cleaned_normalized_train_dataset/
Data/mathbridge/mathbridge_cleaned_tts_wavs
s2l_*_normalized_dirty